# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Models
/data/
/experiments/data/
/experiments/final_validation/data/
outputs/
runs/
cache/
*.npy
*.npz
*.pt
*.ckpt
*.weights
*.bin

# Logs & OS
*.log
.DS_Store
.ipynb_checkpoints/
